---
title: RoboMonth' 17 | Events
layout: default
style: robomonth
permalink: /event/robomonth17
---

<div class="robomonth-card-cont mdl-typography--text-justify">
  <!-- <div id="overlay"></div> -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="robomonth-card mdl-card mdl-shadow--2dp">
        <div id="robomonth-tit" class="mdl-card__title" style="background:
			url('../assets/images/ss/1.jpg') center / cover #46B6AC;">
          <!-- <div id="overlay2"></div> -->
        </div>
        <div id="robomonth-content" class="mdl-card__supporting-text">
          <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#schedule-panel" class="mdl-tabs__tab">Schedule</a>
                <a href="#lec-panel" class="mdl-tabs__tab">Lectures</a>
                <a href="#competitions-panel" class="mdl-tabs__tab is-active">Competitions</a>
                <a href="#results-panel" class="mdl-tabs__tab">Results</a>
                <a href="#gallery-panel" class="mdl-tabs__tab">Gallery</a>
            </div>

            <div class="mdl-tabs__panel" id="schedule-panel">
              <div class="mdl-grid">
                {% for sch in site.data.rmsch %}
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
                  <div class="sch-card mdl-card">
                    <div class="cmt-tit mdl-card__title">
                      <h2 class="mdl-card__title-text">{{sch.name}}</h2>
                    </div>
                    <div class="mdl-card__supporting-text mdl-card--border">
                      <b>When?</b> {{sch.when}}
                    </div>
                    <div class="mdl-card__supporting-text mdl-card--border">
                      <b>Where?</b> {{sch.where}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="mdl-tabs__panel" id="lec-panel">
              will be updated soon
            </div>
            <div class="mdl-tabs__panel is-active" id="competitions-panel">
              {% for cmt in site.data.rmcmt %}
              <div class="cmt-card mdl-card">
                <div class="cmt-tit mdl-card__title">
                  <h2 class="mdl-card__title-text">{{cmt.title}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  {{cmt.content}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a target="_blank" href="../assets/docs/{{ cmt.prob }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Problem Statement
                  </a>
                  <a target="_blank" href="{{cmt.reg}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Register
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="mdl-tabs__panel" id="results-panel">
              will be updated soon
            </div>
            <div class="mdl-tabs__panel" id="gallery-panel">
              will be updated soon
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
